div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blå {
  background: #44accf;
    height: 50px;
}
.sidebar {
  background: goldenrod;
  width: 20%;
  height:400px;
  float: left;
}

.grøn {
  background: #b7d84b;
  width: 60%;
  height: 400px;
  float: left;
}

.orange {
  background: #e2a741;
  width: 20%;
  height: 400px;
  float:right;
}


.rød {
  background: #ee3e64;
    height: 50px;
    clear: both;
}
